{{!-- syntax for Bootstrap navbar sourced from:
https://getbootstrap.com/docs/4.1/components/navbar/ --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  Google People API OAuth Verification
</nav>
<h4>
    <div>
        This page uses Google OAuth 2.0 to verify user credentials before Boats API resources may be accessed.
    </div>
    <div>
        Please click the link below to log in and generate a JWT token:
        <a href={{urlState}}>Navigate to OAuth Screen</a>
    </div>
</h4>